
{% extends 'base.html' %}

    {% block title %}
    QPanel - {{ _('Consolidated view') }}
    {% endblock %}

      {% block main %}
      <!--main content start-->
      <section id="main-content" style="margin-left: 0px;">


          <section class="wrapper">
              <h3><i class="fa fa-angle-right"></i> {{ _('Consolidate view') }}</h3>

              <div class="row">
                  <div class="col-lg-12 main-chart">

                      <div class="row"><!-- row general data-->
                        {% include 'row_general_data.html' %}
                      </div><!-- /row general data-->

                     <div class="row mt">
                    </div><!-- /row -->

                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover" id="agents">
                            <h4><i class="fa fa-angle-right"></i> {{ _('Agents') }}: <span id="total_agent" class="label label-default"></span></h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-user"></i> {{ _('Queue') }}</th>
                                  <th><i class="fa fa-user"></i> {{ _('Name') }}</th>
                                  <th><i class="fa fa-plug"></i> {{ _('Interface') }}</th>
                                  <th><i class=" fa fa-question-circle "></i> {{ _('Status') }}</th>
                                  <th><i class="fa fa-bookmark"></i> <span data-toggle="tooltip" data-placement="left" title="{{ _('Attend calls') }}"></i> {{_('Calls') }}</span></th>
                                  <th><i class="fa fa-clock-o"></i> {{ _('Last call at') }}</th>
                              </tr>
                              </thead>
                              <tbody>

                            {% for queue_name, queue in queues.items()  %}
                              {% for agent_id, agent in queue.members.items() %}
                              <tr data-queue="{{ queue_name }}" data-agent="{{ clean_str_to_div_id(agent_id) }}">
                                  <td>{{ queue_name }}</td>
                                  <td>{{ agent.Name }}</td>
                                  <td class="hidden-phone">{{ agent.StateInterface }}</td>
                                  <td id="status">
                                    <span class="label label-info label-mini state">
                                        {{ str_status_agent(agent.Status) }}
                                    </span>
                                    </td>
                                  <td id="calls">{{ agent.CallsTaken }}</td>
                                  <td id="last_call">{{ agent.LastCall }}</td>
                              </tr>
                              {% endfor %}
                            {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->

                  <div class="col-md-12">
                      <div class="content-panel">
                          <table class="table table-striped table-advance table-hover" id="callers">
                            <h4><i class="fa fa-angle-right"></i> {{ _('Callers') }}: <span id="total_callers" class="label label-default"></span></h4>
                            <hr>
                              <thead>
                              <tr>
                                  <th><i class="fa fa-user"></i> {{ _('Queue') }}</th>
                                  <th><i class="fa fa-user"></i> {{ _('Id Name') }}</th>
                                  <th class="hidden-phone"><i class="fa fa-phone"></i> {{ _('Id Number') }}</th>
                                  <th><i class="fa fa-sort-numeric-asc"></i> {{ _('Position') }}</th>
                                  <th><i class="fa fa-clock-o"></i> {{ _('Wait') }}</th>
                              </tr>
                              </thead>
                              <tbody>
                            {% for queue_name, queue in queues.items()  %}
                              {% for callid, caller in queue.entries.items()  %}
                              <tr id="caller-{{ caller.Uniqueid }}" data-uniqueid="{{ caller.Uniqueid }}">
                                  <td>{{ queue_name }}</td>
                                  <td>{{ caller.CallerIDName }}</td>
                                  <td class="hidden-phone">{{ caller.CallerIDNum }}</td>
                                  <td id="position">{{ caller.Position }}</td>
                                  <td id="wait">{{ caller.Wait }}</td>
                              </tr>
                              {% endfor %}
                            {% endfor %}
                              </tbody>
                          </table>
                      </div><!-- /content-panel -->
                  </div><!-- /col-md-12 -->

          </section>
      </section>
      {% endblock %}


    {% block script_end %}
    <script type="application/javascript">
        $(document).ready(function () {
            getDataQueue(); //load data on page ready :)
            setInterval(function () {
                getDataQueue();
            }, {{ request_interval() }});
        });

        // Parse data and put values on view
        // Shit!, this will be improved
        // If you can do it send a Pull Request
        function parseDataQueue(data) {
            var maps_agents = Array();
            var uniques_ids = Array();
            var answers = 0, unattended = 0, incoming = 0;
            var c_hold = 0, holdtime = 0, c_talk = 0, talktime = 0;
            var call_in_service_level = 0;
            var total_agents = 0, total_calls = 0;

            for (var q in data) {
                var queue = data[q];

                answers = answers + parseInt(queue.Completed);
                unattended = unattended + parseInt(queue.Abandoned);
                incoming = incoming + parseInt(queue.Calls);

                {% if show_service_level() %}
                call_in_service_level +=  queue.Completed * parseFloat(queue.ServicelevelPerf) / 100;
                {% endif %}

                if (parseInt(queue.TalkTime) > 0 ) {
                    talktime = talktime + parseInt(queue.TalkTime);
                    c_talk++;
                }

                if (parseInt(queue.Holdtime) > 0 ) {
                    holdtime = holdtime + parseInt(queue.Holdtime);
                    c_hold++;
                }

                // agents
                maps_agents[q] = Array();
                for (a in queue.members) {
                    total_agents++;
                    maps_agents[q].push(clean_div_name(a));
                    agent = queue.members[a];
                    agent_id_div = '[data-agent="{agent}"][data-queue="{queue}"]'.format({agent: clean_div_name(a), queue: q})

                    $(agent_id_div + ' #calls').html(agent.CallsTaken)
                    str_time_ago = ''
                    if (agent.LastCall > 0) {
                       str_time_ago = agent.LastCallAgo;
                    }
                    $(agent_id_div + ' #last_call').html(str_time_ago)

                    $(agent_id_div + ' #status .state').html(agent.Status.toStrStatusAgent())
                    addLabelDivStatusAgent($(agent_id_div + ' #status .state'));
                    if (agent.Paused == true) {
                        // reason pause introduced in https://goo.gl/Njm6H5
                        // if dont have feature in your Asterisk
                        // check directory patches
                        var reason = '';
                        if (agent.PausedReason){
                            reason = ": {reason}".format({'reason': agent.PausedReason});
                        }
                        var last_pause_time = '';
                        if (parseInt(agent.LastPauseAgo.split(" ")[0]) > 0) {
                            last_pause_time = " {{_('was')}} {last_pause} {{_('ago')}}".format({'last_pause': agent.LastPauseAgo});
                        }

                        $(agent_id_div + ' #status .pause').remove();
                        $(agent_id_div +' #status .state')
                           .after(' <span class="label label-success label-mini pause">{{_('paused')}}'+ reason + last_pause_time + '</span>');
                    } else {
                        $(agent_id_div + ' #status .pause').remove();
                    }

                    if ($(agent_id_div).length == 0) {
                        var tr = '<tr data-queue="' + q + '" data-agent="' + clean_div_name(a) + '"><td>'
                             + q + '</td>'
                             + '<td>' + agent.Name + '</td>'
                             + '<td>' + agent.StateInterface + '</td>'
                             + '<td id="status"> <span class="label label-info label-mini state">'
                             + agent.Status.toStrStatusAgent()
                             + '</span></td>'
                             + '<td id="calls">' + agent.CallsTaken + '</td>'
                             + '<td id="last_call"></td></tr>';

                        if ($('#agents tbody tr:last').length > 0) {
                            $('#agents tbody tr:last').after(tr);
                        } else {
                            $('#agents tbody').append(tr);
                        }
                    }
                }

                //callers
                for (caller in queue.entries) {
                    c = queue.entries[caller];
                    total_calls++;

                    if ($("[id='caller-"+ c.Uniqueid + "']").length == 0) {
                        console.log('add:' + c.Uniqueid);
                        var tr = '<tr id="caller-' + c.Uniqueid + '" data-uniqueid="' + c.Uniqueid + '"><td>'
                            + c.CallerIDName + '</td>'
                            + '<td>' + c.CallerIDNum + '</td>'
                            + '<td id="position">'  + c.Position + '</td>'
                            + '<td id="wait">' + c.WaitAgo + '</td></tr>'

                        if ($('#callers tbody tr:last').length > 0){
                            $('#callers tbody tr:last').after(tr);
                         } else {
                            $('#callers tbody').append(tr);
                        }
                    }

                    $("[id='caller-"+ c.Uniqueid + "'] #wait").html(c.WaitAgo);
                    $("[id='caller-"+ c.Uniqueid + "'] #position").html(c.Position);
                    uniques_ids.push(c.Uniqueid);
                }
            }

            $.each($("[id^='caller-']"), function( index, value ) {
                uid = $(value).data('uniqueid');
                if (uniques_ids.indexOf(uid.toString()) == -1) {
                    console.log('removed: ' + uid);
                    $("[id='caller-"+ uid +"']").remove();
                }
            });
            $('#total_callers').html("{total}".format({total:  total_calls}));


            $.each($("[data-agent]"), function( index, value ) {
                queue = $(value).data('queue');
                agent = $(value).data('agent');
                if (maps_agents[queue].indexOf(agent.toString()) == -1) {
                  console.log('removed: %s from %s', agent, queue);
                  $(value).remove();
                }
            });
            $('#total_agent').html("{total}".format({total:  total_agents}));

            // General row
            $('#answered').html(answers);
            $('#abandoned').html(unattended);
            $('#incoming').html(incoming);
            if (c_hold > 0 ) {
              $('#av_wait').html(parseInt((holdtime / c_hold)).toString().toMMSS());
            }
            if (c_talk > 0){
              $('#av_time').html(parseInt((talktime / c_talk)).toString().toMMSS());
            }
            {% if show_service_level() %}
                if (answers == 0) {
                    $('#servicelevel').html( "{percent}%".format({percent: 0.0}));
                } else {
                    $('#servicelevel').html( "{percent}%".format({percent: Math.round(call_in_service_level * 100 / answers)}));
                }
            {% endif %}
        }

        function getDataQueue() {
            var result;
            var r = $.ajax({
                type: 'GET',
                url: '{{ url_for('.queues') }}'
            });
            r.done(function (response) {
                if (response) {
                    result = response.data;
                    parseDataQueue(result);
                }
            });
            r.fail(function (response) {
            });

            r.always(function () {
            });
        }
    </script>
    {% endblock %}
