      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              {{ _('Developed by') }} <a href="http://rodrigoramirez.com">Rodrigo Ramírez Norambuena</a> {{ _('with a Template by') }} <a href="http://alvarez.is">Carlos Alvarez</a> {{ _('Version')  }}: {{ current_version() }}
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->

<script src="{{ url_for('static', filename='components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='components/js-cookie/src/js.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='components/jquery.gritter/js/jquery.gritter.js') }}"></script>
<link href="{{ url_for('static', filename='components/jquery.gritter/css/jquery.gritter.css') }}" rel="stylesheet">

<script>
    var config_check_update = {{ check_upgrade()|lower}};
    if (config_check_update) {
        if (typeof Cookies.get('check_version') === "undefined") {

            var rversion = $.ajax({
                type: 'GET',
                url: '{{ url_for('.check_new_version') }}'
            });
            rversion.done(function (response) {
                if (response) {
                    if (response.require_upgrade) {
                        showPopupUpdate(response.last_stable_version);
                    }
                    Cookies.set('check_version', '1', { expires: 30 });
                }
            });
            rversion.fail(function (response) {
                Cookies.set('check_version', '1', { expires: 1 });
            });
        }
    }

    function showPopupUpdate(actual_version) {
        var unique_id = $.gritter.add({
            title: '{{ _('New version available') }}',
            text: '{{ _('Exist a new version stable: ') }}' + actual_version + '{{ _('. Visit and update your QPanel <a href="https://github.com/roramirez/qpanel" target="_blank" style="color:#ffd777">from GitHub</a>.') }}',
            image: '{{ url_for('static', filename='img/fa-download_55.png') }}',
            sticky: true,
            time: '',
            class_name: 'my-sticky-class'
        });
    }


</script>

