{% extends 'base.html' %}

  {% block main %}
      <script>
        dataGraph = Array();
        graph = Array();
      </script>

      <!--main content start-->
      <section id="main-content" style="margin-left: 0px;">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-12 main-chart">

                    <div class="row"><!-- row general data-->
                      {% include 'row_general_data.html' %}
                    </div><!-- /row general data-->

                     <div class="row mt">

                    <div class="border-head">
                      <h1><i class="fa fa-angle-right"></i> {{ _('Queues') }}</h1>
                    </div>

                    {% for queue_name, queue in queues.items() %}
                        <div class="col-lg-4 col-md-4 col-sm-4 mb project">
                            <div class="weather-2 pn photo-wrapper transparent-background">
                              <a href="{{ url_for('.queue', name=queue_name) }}">
                                <div class="weather-2-header">
                                    <div class="row header-{{ queue_name }}">
                                        <div class="panel-title centered">
                                            <p>{{ queue_name }} - <span id="strategy"></span></p>
                                        </div>
                                    </div>
                                </div><!-- /weather-2 header -->


                                <div class="row data" id="data-{{ queue_name }}">

                                    <div class="col-sm-4 col-xs-4 voffset20 goleft">
                                        <h5><b>{{ _('Answered') }}:</b> <span id="queue_completed">{{ queue.Completed }}</span></h5>
                                        <h5>{{ _('Abandoned') }}: <span id="queue_abandoned">{{ queue.Abandoned }} </span></h5>
                                        <h5>{{ _('Incoming') }}: <span id="queue_incoming">{{ queue.Calls }} </span></h5>
                                        {% if show_service_level() %}
                                        <h5>{{ _('Service Level') }}: <span id="queue_servicelevel">{{ queue.ServicelevelPerf }}%</span></h5>
                                        {% endif %}
                                    </div>
                                     <div class="col-lg-4 col-md-4 col-sm-4 mb voffset20">
                                            <canvas id="graph_{{ queue_name }}" height="120" width="120"></canvas>
                                    </div>
                                    <div class="col-sm-4 col-xs-4 goright voffset20">
                                        <h5><i class="fa fa-users fa-2x"> <span id="queue_users">{{ queue.members | count }} </span></i>
                                        <h5><span id="queue_unavailable"></h5>
                                        <h5><span id="queue_busy"></h5>
                                        <h5><span id="queue_free"></h5>
                                    </div>
                                </div>
                                <div class="row centered"  style="margin-top: -20px;">
                                    <h2>{{ _('Abandoned:') }} <span id="{{ queue_name }}-percent_abandoned">0</span>%</h2>
                                </div>
                                <script>
                                    dataGraph['{{ queue_name }}'] = [
                                        {
                                            value: {{ queue.Abandoned }},
                                            color:"#FF6B6B"
                                        },
                                        {
                                            value: {{ queue.Completed }},
                                            color : "#5cb85c"
                                        }
                                    ];
                                    graph['{{ queue_name }}'] = new Chart(document.getElementById("graph_{{ queue_name }}").getContext("2d")).Doughnut(dataGraph['{{ queue_name }}']);
                                </script>


                            </div>
                            </a>
                        </div><!--/col-md-4 -->
                    {% endfor %}
                  </div><!-- /row -->
               </div><!-- /row -->
            </div><!-- /row -->
          </section>
      </section>

    {% endblock %}


    {% block script_end %}
    <script type="application/javascript">

        $(document).ready(function () {
            getDataQueue(); //load data on page ready :)
            setInterval(function () {
                getDataQueue();
            }, {{ request_interval() }});
        });

        var optionsNoAnimation = {
          animation : false,
        }
        function updateGraph(name, data_queue) {
          dataGraph[name] = [
            {
              value: parseInt(data_queue.Abandoned),
              color: "#FF6B6B",
              label: "{{ _('Abandoned') }}"
            },
            {
              value: parseInt(data_queue.Completed),
              color: "#5cb85c",
              label: "{{ _('Answered') }}"
            }
          ];
          graph[name] = new Chart(document.getElementById("graph_"+name).getContext("2d")).Doughnut(dataGraph[name], optionsNoAnimation);
        }

        // parse data and put values on view
        function parseDataQueue(data){
            var answers = 0, unattended = 0, incoming = 0;
            var c_hold = 0, holdtime = 0, c_talk = 0, talktime = 0;
            var call_in_service_level = 0;
            for (var d in data) {
                answers = answers + parseInt(data[d].Completed);
                unattended = unattended + parseInt(data[d].Abandoned);
                incoming = incoming + parseInt(data[d].Calls);

                $("[id='data-"+ d + "'] #queue_completed").html(parseInt(data[d].Completed));
                $("[id='data-"+ d + "'] #queue_abandoned").html(parseInt(data[d].Abandoned));
                $("[id='data-"+ d + "'] #queue_incoming").html(parseInt(data[d].Calls));
                $("[id='data-"+ d + "'] #queue_users").html(len(data[d].members));
                $(".header-"+ d + " #strategy").html(data[d].Strategy);

                {% if show_service_level() %}
                $("[id='data-"+ d + "'] #queue_servicelevel").html(data[d].ServicelevelPerf + '%');
                call_in_service_level +=  data[d].Completed * parseFloat(data[d].ServicelevelPerf) / 100;
                {% endif %}

                if (data[d].Abandoned > 0) {
                    $("[id='"+ d + "-percent_abandoned']")
                        .html(parseInt(parseInt(data[d].Abandoned)  * 100 / (parseInt(data[d].Abandoned) + parseInt(data[d].Completed) )));
                }

                //Update graph
                updateGraph(d, data[d]);

                if (parseInt(data[d].TalkTime) > 0 ) {
                    talktime = talktime + parseInt(data[d].TalkTime);
                    c_talk++;
                }

                if (parseInt(data[d].Holdtime) > 0 ) {
                    holdtime = holdtime + parseInt(data[d].Holdtime);
                    c_hold++;
                }

                var agent_free = 0, agent_busy = 0, agent_unavailable = 0;
                for (agent in data[d].members) {
                    var status_agent = parseInt(data[d].members[agent].Status);
                    if (data[d].members[agent].Paused == true) {
                        agent_busy++;
                    } else if (C.status_agent.NOT_INUSE == status_agent) {
                        agent_free++;
                    } else if (status_agent.isUnavailableInAsterisk()) {
                        agent_unavailable++;
                    } else {
                        agent_busy++;
                    }
                }
                agents = agent_free + agent_busy + agent_unavailable;
                //bugfix NaN division by 0
                if (agents == 0) {
                    agents = 1;
                }
                $("[id='data-"+ d + "'] #queue_free")
                    .html( "{agents} ({percent}% {status})"
                        .format({agents: agent_free, percent: Math.round(agent_free * 100 / agents), status: "{{ _("free") }}" }));
                $("[id='data-"+ d + "'] #queue_busy")
                    .html( "{agents} ({percent}% {status})"
                        .format({agents: agent_busy, percent: Math.round(agent_busy * 100 / agents), status: "{{ _("busy") }}" }));

                $("[id='data-"+ d + "'] #queue_unavailable")
                    .html( "{agents} ({percent}% {status})"
                        .format({agents: agent_unavailable, percent: Math.round(agent_unavailable * 100 / agents), status: "{{ _("unavailable") }} "}));

            }
            $('#answered').html(answers);
            $('#abandoned').html(unattended);
            $('#incoming').html(incoming);
            if (c_hold > 0 ) {
              $('#av_wait').html(parseInt((holdtime / c_hold)).toString().toMMSS());
            }
            if (c_talk > 0){
              $('#av_time').html(parseInt((talktime / c_talk)).toString().toMMSS());
            }

            {% if show_service_level() %}
                if (answers == 0) {
                    $('#servicelevel').html( "{percent}%".format({percent: 0.0}));
                } else {
                    $('#servicelevel').html( "{percent}%".format({percent: Math.round(call_in_service_level * 100 / answers)}));
                }
            {% endif %}

        }
        function getDataQueue() {
            var result;
            var r = $.ajax({
                type: 'GET',
                url: '{{ url_for('.queues') }}'
            });
            r.done(function (response) {
                if (response) {
                    result = response.data;
                    parseDataQueue(result);
                }
            });
            r.fail(function (response) {
            });

            r.always(function () {
            });
        }

    </script>
    {% endblock%}
