      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              <span data-i18n="developed_by" class="i18n">Developed by</span> <a href="http://rodrigoramirez.com">Rodrigo Ramírez Norambuena</a> <span data-i18n="template_by" class="i18n">with a
              Template by</span> <a href="http://alvarez.is">Carlos Alvarez</a>
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
