                    <li>
                        <select id="language" class="logout">
                            <option value="en">{{ _('English') }}</option>
                            <option value="es">{{ _('Spanish') }}</option>
                            <option value="de">{{ _('German') }}</option>
                            <option value="ru">{{ _('Russian') }}</option>
                            <option value="pt_BR">{{ _('Portuguese') }}</option>
                        </select>
                    </li>
