<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rodrigo Ramírez Norambuena">
    <meta name="keyword" content="Dashboard, Panel, Queue, app_queue, Asterisk">
    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style-responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


  <body>

    <div id="login-page">
      <div class="container">
          <form class="form-login" method="POST" action="{{ url_for('.login') }}">
            <h2 class="form-login-heading">{{ _('Sign in') }}</h2>
            <div class="login-wrap">
                <input name="username" id="username" type="text" class="form-control" placeholder="{{ _('User id') }}" autofocus>
                <br>
                <input name="pw" id="pw" type="password" class="form-control" placeholder="{{ _('Password') }}">
                <label class="checkbox">
                    <span class="pull-right">
                    </span>
                </label>
                <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i>{{ _('Sign in') }}</button>
            </div>


          </form>
      </div>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
