
                        <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                            <div class="box1">
                                <span data-i18n="answered" class="i18n">Answered</span>
                                <h3><span id="answered"></span></h3>
                            </div>
                            <p data-i18n="attended_calls" class="i18n">Attended calls.</span></p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                <span data-i18n="abandoned" class="i18n">Abandoned</span>
                                <h3><span id="abandoned"></span></h3>
                            </div>
                            <p data-i18n="calls_not_attended_agent" class="i18n">Calls not attended by agents.</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                <span data-i18n="incoming" class="i18n">Incoming</span>
                                <h3><span id="incoming"></span></h3>
                            </div>
                            <p data-i18n="call_on_linea" class="i18n">Call on line.</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                <span data-i18n="av_time" class="i18n">Av. time</span>
                                <h3><span id="av_time">0:00</span></h3>
                            </div>
                            <p data-i18n="av_detail_time" class="i18n">Average time for answered calls.</p>
                        </div>
                        <div class="col-md-2 col-sm-2 box0">
                            <div class="box1">
                                <span data-i18n="av_wait" class="i18n">Av. Wait</span>
                                <h3><span id="av_wait">0:00</span></h3>
                            </div>
                            <p data-i18n="av_detail_wait" class="i18n">Average time waiting for calls.</p>
                        </div>
