      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://github.com/roramirez/qpanel" target="_blank">
                  QPanel
                </a>
              </li>
              <li>
                <a href="https://boxtub.com/qpanel" target="_blank">
                  {{ _('About Us') }}
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://boxtub.com/qpanel" target="_blank">QPanel Team</a>.
          </div>
        </div>
      </footer>
